.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.movieInfoTable {
    text-align: center;
    padding: auto;
}

.posterCell {
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    /* margin: auto; */
}

.posterCell__posterImg {
    width: 100%;
}

.background_img {
    background-image: url('https://image.tmdb.org/t/p/w1280/zPo7SQ20IqcZK6JPjCWg2GzOCQp.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.img {
    width: 100%;
    vertical-align: middle;
}

body {
    background-color: #282c34;
}
