
.lb-wrap {
    width: 100%;
    border: 1px solid #000000;
    position: relative;
  }
.lb-wrap img {

    width: 100%;
    vertical-align: middle;
  }
.lb-poster {
    position: absolute;
    width:400px;
    height: 500px;
    top: 15%;
    left: 18%;
  }

  .lb-text {
    display: grid;
    width: 41%;
    height: 83%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(12, 12, 12, 0.9);
    position: absolute;
    top: 15%;
    left: 44%; 
  }

.lb-text h1,h3{
    color: rgb(255, 255, 255);
    text-align: center; 
    position: relative;
}

.lb-text p{
    color: #fff;
    text-align: justify; 
    position: relative;
    font-size: 20px;
}

.lb-cols{
  color: #00FC87;
  text-align: justify;
  position: relative;
  font-size: 25px;
}

.lb-cols span{
  color: rgb(249, 252, 253);
  text-align: justify; 
  position: relative;
  font-size: 25px;
}